---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">
        Why Study in Indonesia
      </div>
    </div>
    <div class="container flex flex-col gap-4 py-4 text-justify md:text-lg">
      <h2 class="text-2xl font-bold">Experience</h2>
      <div>
        <p>
          Indonesia is not another tropical country. It has so many to offer.
        </p>
        <ol class="ml-4 list-decimal">
          <li>
            If you like beautiful nature <br /> Most people know Bali and of course
            you can go to universities in Bali. However Bali is just the tip of the
            iceberg. Indonesia has so many islands with so much beautiful nature.
            In fact Bali is categorized as a small island compared to other Indonesian
            islands.
          </li>
          <li>
            If you want the experience managing diverse people with diverse
            backgrounds <br /> Indonesia consists of more than 300 ethnic groups.
            If you calculate the tribe in the same ethnicity it will consist much
            more.
          </li>
          <li>
            If you like culture and arts <br /> Indonesia is full of culture and
            arts. From traditional to modern arts. From painting to dancing. In fact
            Indonesia has the best orchestra hall in Kemayoran Jakarta.
          </li>
        </ol>
      </div>
      <h2 class="mt-4 text-2xl font-bold">Affordable</h2>
      <div>
        <p>
          One of the important considerations in education is that education is
          not only opening minds but also should be affordable. In Indonesia you
          can find many affordable universities and cost of living.
        </p>
        <ol class="ml-4 list-decimal">
          <li>
            Very Affordable Higher Education <br /> Indonesia has very affordable
            higher education compared to many countries in Asean. It is true that
            several Indonesian institutions are expensive, but it is a tip of the
            iceberg. Most of Indonesia's higher education is affordable.
          </li>
          <li>
            Very Affordable Cost of Living <br /> Cost of living in Indonesia varies
            from $100 a month up to $300 a month depending on your location. However,
            most of Indonesia's higher education is outside metropolitan cities.
          </li>
        </ol>
      </div>
      <h2 class="mt-4 text-2xl font-bold">Your Future Career</h2>
      <div>
        <p>
          By studying in Indonesia you can prepare your career to work in
          Indonesia, Asean and to the world.
        </p>
        <ol class="ml-4 list-decimal">
          <li>
            Gateway to Asean Jobs <br /> Indonesia is a gateway to Asean countries.
            All countries that join ASEAN will recognize each other's higher education.
            So whether you want to work in Indonesia or elsewhere, your chances are
            open.
          </li>
          <li>
            Gateway to International Post Graduate <br /> Indonesian graduates have
            access to many world renowned institutions. With less money than a bachelor
            degree in Australia you can finish your undergraduate in Indonesia and
            your master degree in Australia. So definitely it is not only value for
            money but opens your door to the world.
          </li>
          <li>
            Work in Indonesia <br /> Many foreign companies are opening their offices
            in Indonesia. If you graduate from Indonesia universities, you can apply
            for jobs in Indonesia and work in those companies as expat with expat
            salaries.
          </li>
        </ol>
      </div>
    </div>
  </div>
</Layout>
