---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-4xl text-white">About us</div>
    </div>
    <div class="container flex flex-col gap-4 py-4 text-lg">
      <p>
        <b class="font-bold">Lorem ipsum, dolor sit amet consectetur</b> adipisicing
        elit. Sint, cupiditate! In nisi eius facilis voluptatem. Illo expedita nostrum,
        labore est voluptas incidunt pariatur corporis sequi qui, debitis consequuntur
        repudiandae quia? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Tempora amet impedit doloremque alias veniam aperiam aliquid provident, cupiditate
        iste enim odit nobis deleniti ea, fugiat sed aut, incidunt quidem deserunt!
      </p>
      <div class="flex justify-center gap-4">
        <div>
          <div class="h-[450px] w-[400px] bg-gray-300"></div>
          <p class="text-center">John Doe (Director)</p>
        </div>
        <div>
          <div class="h-[450px] w-[400px] bg-gray-300"></div>
          <p class="text-center">John Doe (Director)</p>
        </div>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum,
        voluptates aliquid minus ad est explicabo maxime, quia, natus tempora
        officiis illum obcaecati eius architecto dolores tenetur maiores. Ex,
        similique quia.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore
        labore dicta dolor. Doloremque, sunt! Incidunt soluta quam eaque atque
        ut, ducimus consectetur maiores porro ipsum perspiciatis voluptatum
        facilis voluptatem? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Velit consectetur, eligendi maxime natus non ratione repellat,
        nemo quasi voluptatibus repellendus mollitia nisi ipsum, temporibus eos
        illum voluptate error sed corporis!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
        voluptates nulla officia sit eveniet sapiente eum fugiat laudantium,
        possimus porro cupiditate dolorem incidunt corrupti ducimus sint ratione
        veniam hic facilis.
      </p>
    </div>
  </div>
</Layout>
