---
import Input from "@/components/Input.astro";
import Layout from "@/layouts/Layout.astro";
import Textarea from "@/components/Textarea.astro";
import Book from "@/assets/Book.astro";
---

<Layout title="Home">
  <div class="h-[440px] w-full bg-gray-400"></div>
  <div class="container my-12 flex flex-col gap-4 md:text-lg">
    <div>
      <h1 class="text-center text-3xl font-bold text-red-500">Who We Are</h1>
      <div class="mx-auto my-4 h-7 max-w-40"></div>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime incidunt
        cupiditate nam sint est delectus ut ducimus consequatur, labore itaque
        nesciunt id, quos ipsa explicabo unde! Quos quaerat eveniet placeat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
        voluptatem voluptates doloremque porro placeat unde consequatur saepe
        nemo ab commodi magni rerum illo harum et nulla sint dicta aperiam
        incidunt.
      </p>
    </div>
    <div>
      <h1 class="text-center text-3xl font-bold text-red-500">What We Do</h1>
      <div class="mx-auto my-4 h-7 max-w-40"></div>
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="w-full max-w-[384px]">
          <div class="h-[289px] w-full bg-gray-300"></div>
        </div>
        <div class="px-12 py-4">
          <div class="grid gap-6 md:grid-cols-2">
            <div class="flex items-center gap-4 text-2xl font-semibold">
              <div class="h-fit rounded-full bg-blue-900 p-2 text-white">
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="flex items-center gap-4 text-2xl font-semibold">
              <div class="h-fit rounded-full bg-blue-900 p-2 text-white">
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="flex items-center gap-4 text-2xl font-semibold">
              <div class="h-fit rounded-full bg-blue-900 p-2 text-white">
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="flex items-center gap-4 text-2xl font-semibold">
              <div class="h-fit rounded-full bg-blue-900 p-2 text-white">
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="flex items-center gap-4 text-2xl font-semibold">
              <div class="h-fit rounded-full bg-blue-900 p-2 text-white">
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="flex items-center gap-4 text-2xl font-semibold">
              <div class="h-fit rounded-full bg-blue-900 p-2 text-white">
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full bg-gray-700 px-4 py-12">
    <div class="container flex max-w-[736px] flex-col gap-4 md:text-lg">
      <h1 class="text-center text-3xl font-bold text-red-500">
        Start Your Journey with us
      </h1>
      <div class="grid gap-4 md:grid-cols-2">
        <Input title="Full Name" white />
        <Input title="Email Address" white />
      </div>
      <div class="grid gap-4 md:grid-cols-2">
        <Input title="Phone Number" white />
        <Input title="Course of Interest" white />
      </div>
      <Input title="City of Interest" white />
      <Textarea title="Message" row="5" white />
      <button class="w-fit rounded-full bg-red-500 px-4 py-2 text-white">
        Submit
      </button>
    </div>
  </div>
</Layout>
