---
import Input from "@/components/Input.astro";
import Layout from "@/layouts/Layout.astro";
import Textarea from "@/components/Textarea.astro";
import Book from "@/assets/Book.astro";
---

<Layout title="Home">
  <div class="h-[500px] w-full bg-[url('/student.webp')] bg-cover"></div>
  <div class="container my-12 flex flex-col gap-4 md:text-lg">
    <div>
      <h1 class="text-center text-3xl font-bold text-red-500">Who We Are</h1>
      <div class="mx-auto my-4 h-7 max-w-40"></div>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime incidunt
        cupiditate nam sint est delectus ut ducimus consequatur, labore itaque
        nesciunt id, quos ipsa explicabo unde! Quos quaerat eveniet placeat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
        voluptatem voluptates doloremque porro placeat unde consequatur saepe
        nemo ab commodi magni rerum illo harum et nulla sint dicta aperiam
        incidunt.
      </p>
    </div>
    <div class="mt-12">
      <h1 class="text-center text-3xl font-bold text-red-500">What We Do</h1>
      <div class="flex flex-col gap-4 md:flex-row">
        <img src="/logoSquare.webp" alt="logoSquare" class="max-w-96" />
        <div class="flex items-center px-12 py-4">
          <div class="grid gap-6 md:grid-cols-2">
            <a href="/services/#service1">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                Help Student Choose Their Future Education
              </div>
            </a>
            <a href="/services/#service2">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                Helping Visa Process
              </div>
            </a>
            <a href="/services/#service3">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                Helping Application to Universities
              </div>
            </a>
            <a href="/services/#service4">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                Helping to find Accommodation
              </div>
            </a>
            <a href="/services/#service5">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                Pre Departure Briefing
              </div>
            </a>
            <a href="/services/#service6">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                Helping from Airport to Accommodation
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative w-full bg-[url('/city-pic.webp')] bg-cover bg-center px-4 py-12"
  >
    <div class="absolute inset-0 bg-black/50" aria-disabled="true"></div>
    <div
      class="relative z-10 container flex max-w-[736px] flex-col gap-4 md:text-lg"
    >
      <h1 class="text-center text-3xl font-bold text-red-500">
        Start Your Journey with us
      </h1>
      <div class="grid gap-4 md:grid-cols-2">
        <Input title="Full Name" white />
        <Input title="Email Address" white />
      </div>
      <div class="grid gap-4 md:grid-cols-2">
        <Input title="Phone Number" white />
        <Input title="Course of Interest" white />
      </div>
      <Input title="City of Interest" white />
      <Textarea title="Message" row="5" white />
      <button class="w-fit rounded-full bg-red-700 px-4 py-2 text-white">
        Submit
      </button>
    </div>
  </div>
</Layout>
