---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Services">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">Services</div>
    </div>
    <div class="container flex flex-col gap-4 py-4 md:text-lg">
      <p>Our services are but not limited to:</p>
      <h2 class="text-2xl font-bold">
        Helping Student to Choose their Future Education
      </h2>
      <p>
        Indonesia has more than 4.000 higher education institutions. Yes, you
        read it right. It is more than 4.000. It is more than several other
        Asean countries combined. Despite these high numbers of universities,
        most of the universities cater to local people. So you will need help to
        find the right ones for you.
      </p>
      <h2 class="mt-4 text-2xl font-bold">Helping Visa Process</h2>
      <p>
        Navigating the Indonesian visa process for foreign students involves
        several key steps. Here's a breakdown of the typical procedure:
      </p>
      <ol class="ml-4 flex list-decimal flex-col gap-4">
        <li>
          Acceptance and Sponsorship:
          <ol class="ml-4 list-disc">
            <li>
              Acceptance Letter: <br /> You must first secure an official acceptance
              letter from a recognized Indonesian educational institution. This institution
              will often act as your sponsor.
            </li>
            <li>
              Study Permit: <br /> Your educational institution will typically assist
              you in obtaining a study permit or recommendation letter from the Indonesian
              Ministry of Education and Culture.
            </li>
          </ol>
        </li>
        <li>
          Visa Application (VITAS):
          <ol class="ml-4 list-disc">
            <li>
              Gathering Documents: <br /> Essential documents include:
              <ul class="ml-4">
                <li>- A valid passport with sufficient validity.</li>
                <li>- The acceptance letter from your institution.</li>
                <li>- The study permit.</li>
                <li>- Proof of sufficient financial means.</li>
                <li>- Passport-size photographs.</li>
                <li>
                  - Other documents that may be requested by the Indonesian
                  embassy or consulate.
                </li>
              </ul>
            </li>
            <li>
              Applying at an Indonesian Embassy/Consulate: <br /> You'll apply for
              a Limited Stay Visa (VITAS) at the Indonesian embassy or consulate
              in your home country. In some cases, the Visa approval may be sent
              electronically.
            </li>
            <li>
              Visa Approval: <br /> After the required processes are completed, and
              payment is made, a Visa Approval Letter will be issued.
            </li>
          </ol>
        </li>
        <li>
          Post-Arrival Procedures (KITAS):
          <ol class="ml-4 list-disc">
            <li>
              Converting VITAS to KITAS: <br /> Upon arrival in Indonesia, you must
              convert your VITAS into a Limited Stay Permit (KITAS) at the local
              immigration office.
            </li>
            <li>
              Other Post arrival registrations: <br /> You may be required to register
              with local police.
            </li>
            <li>
              KITAS: <br /> The KITAS allows you to stay in Indonesia for the duration
              of your studies.
            </li>
            <li>
              MERP: <br /> If you plan to travel in and out of Indonesia during your
              studies, you'll need a Multiple Exit Re-Entry Permit (MERP).
            </li>
          </ol>
        </li>
      </ol>
      <h2 class="mt-4 text-2xl font-bold">
        Helping Application to Universities
      </h2>
      <p>
        If you foreign student then there are special requirements to enter.
        Beware of universities that claim themselves international and give you
        very different tuition fees. These universities do not teach you English
        and do not have proper treatment for universities. Please beware.
      </p>
      <div>
        <p>
          Please contact us and we will help you to enter Indonesia step by
          step. The general requirement is:
        </p>
        <ol class="ml-4 list-decimal">
          <li>
            Graduate from high school either it is general high school or
            vocational school.
          </li>
          <li>
            If you are a transfer student that already has a diploma you can
            finish your bachelor degree in Indonesia.
          </li>
          <li>
            If you are a vocational student, you can choose either to continue
            to a vocational bachelor degree or science bachelor degree.
          </li>
          <li>Your ID and birth certificates.</li>
          <li>Your transcript and high school diploma.</li>
          <li>
            Visa requirement to study in Indonesia from immigration after
            accepted into University
          </li>
        </ol>
      </div>
      <h2 class="mt-4 text-2xl font-bold">Helping to find Accommodation</h2>
      <div>
        <p>
          We can provide helps for International students in accommodation by:
        </p>
        <ol class="ml-4 list-decimal">
          <li>
            We provide information related to accommodation, both campus
            dormitories and private boarding houses. This is important so that
            foreign students do not get expensive prices.
          </li>
          <li>We help students get local residence permits.</li>
          <li>Help students to recognize local areas and transportation</li>
        </ol>
      </div>
      <h2 class="mt-4 text-2xl font-bold">Pre Departure Briefing</h2>
      <div>
        <p>1. Pre-Arrival Coordination:</p>
        <ul class="ml-4 list-disc">
          <li>Gather Flight Details</li>
          <li>Communication</li>
          <li>Communication</li>
          <li>Information Packet</li>
          <li>
            Consider providing a digital or physical information packet
            containing:
            <ol class="ml-4 list-decimal">
              <li>Local emergency numbers.</li>
              <li>Basic Bahasa Indonesia phrases.</li>
              <li>A map of the area.</li>
              <li>Information about local transportation.</li>
            </ol>
          </li>
        </ul>
      </div>
      <h2 class="mt-4 text-2xl font-bold">
        Helping from Airport to Accommodation
      </h2>
      <div>
        <p>2. Airport Pickup:</p>
        <ul class="ml-4 list-disc">
          <li>
            Meet and Greet: <br />
            Arrange for a reliable person (e.g., university staff, agency representative,
            or pre-booked driver) to meet the student at the arrivals area.
          </li>
          <li>
            Assistance with Luggage: <br /> Provide assistance with luggage collection
            and transportation.
          </li>
          <li>
            Local SIM Card: <br /> If possible, assist the student in purchasing
            a local SIM card at the airport. This is essential for communication.
          </li>
          <li>
            Transportation: <br /> Arrange for safe and reliable transportation to
            the accommodation. Options include:
            <ol class="ml-4 list-decimal">
              <li>Pre-booked private car.</li>
              <li>University transportation.</li>
              <li>Reputable taxi services.</li>
            </ol>
          </li>
          <li>
            Welcome Information: <br /> During the transport to the accommodation,
            providing information about the surrounding area can be very useful.
          </li>
        </ul>
      </div>
      <div>
        <p>3. Arrival at Accommodation:</p>
        <ul class="ml-4 list-disc">
          <li>
            Check-in Assistance: <br /> Assist the student with the check-in process
            at their accommodation.
          </li>
          <li>
            Accommodation Orientation: <br />
            Provide a brief orientation of the accommodation, including:
            <ol class="ml-4 list-decimal">
              <li>Location of essential facilities.</li>
              <li>How to use appliances.</li>
              <li>Local rules and regulations.</li>
            </ol>
          </li>
          <li>
            Local Area Introduction: <br /> If time permits, provide a brief introduction
            to the local area, highlighting essential amenities such as:
            <ol class="ml-4 list-decimal">
              <li>Supermarkets</li>
              <li>Restaurants</li>
              <li>Public transportation.</li>
            </ol>
          </li>
          <li>
            Follow-up: <br />
            Follow up with the student after a few days to ensure they have settled
            in comfortably and address any questions or concerns.
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
