---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Supports">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">
        Support in Indonesia
      </div>
    </div>
    <div class="container flex flex-col gap-4 py-4 text-justify md:text-lg">
      <h2 class="text-2xl font-bold">Indonesia Student Life</h2>
      <h3 class="text-xl font-bold">Culinary</h3>
      <p>
        Indonesia is a country of contrast. You can visit most modern malls and
        at the same time enjoy the heritage. You can enjoy fancy restaurants and
        eat in traditional kitchen restaurants where you literally eat in the
        kitchen. Indonesia is famous for Sumatra, Java, Bali, Flores, Toraja and
        Papua beans. If you are a tea lover there are plenty of local teas that
        you can enjoy with cakes or with milk.
      </p>
      <div class="flex flex-col gap-4">
        <img src="/food2.webp" alt="food" class="max-h-[500px] object-cover" />
        <div class="flex flex-col gap-4">
          <div>
            <p>Eat</p>
            <ol class="ml-4 list-decimal">
              <li>Eat in fancy restaurants</li>
              <li>Eat in traditional restaurants</li>
              <li>Eat in hidden restaurants</li>
              <li>Eat in kitchen restaurants</li>
            </ol>
          </div>
          <div>
            <p>Drink</p>
            <ol class="ml-4 list-decimal">
              <li>Bubble Tea</li>
              <li>High Tea</li>
              <li>Traditional</li>
              <li>Tubruk Tea</li>
              <li>Coffee Shop</li>
              <li>Coconut</li>
              <li>Juice</li>
            </ol>
          </div>
        </div>
      </div>
      <h3 class="text-xl font-bold">Traveling</h3>
      <p>There are more than hundreds of major destinations in Indonesia.</p>
      <img src="/beach2.webp" alt="beach" class="max-h-[500px] object-cover" />
      <div>
        <p>Beaches</p>
        <ol class="ml-4 list-decimal">
          <li>Kuta Beach Bali</li>
          <li>Kuta Beach Lombok</li>
          <li>Senggigi Beach Lombok</li>
          <li>Raja Ampat</li>
          <li>Bunaken</li>
        </ol>
      </div>
      <div>
        <p>Mountain</p>
        <ol class="ml-4 list-decimal">
          <li>Bromo</li>
          <li>Merapi</li>
          <li>Dieng</li>
          <li>Salak</li>
        </ol>
      </div>
      <h3 class="text-xl font-bold">Leisures</h3>
      <p>
        In Indonesia there are so many activities to fill your leisure time.
      </p>
      <img
        src="/festive.webp"
        alt="festive"
        class="max-h-[500px] object-cover"
      />
      <div>
        <p>Music</p>
        <ol class="ml-4 list-decimal">
          <li>Java Jazz</li>
          <li>Prambanan Jazz</li>
          <li>Bromo Jazz</li>
          <li>Ngayogjazz</li>
          <li>Papandayan Jazz</li>
          <li>Jazz goes to campus</li>
          <li>Pop Concert</li>
          <li>Classical Concert</li>
        </ol>
      </div>
      <div>
        <p>Festives</p>
        <ol class="ml-4 list-decimal">
          <li>
            Galungan and Kuningan (Bali) <br />
            These are major Hindu festivals in Bali, celebrating the victory of good
            over evil. Galungan occurs every 210 days, with Kuningan marking the
            festival's end. Expect to see beautifully decorated "penjor" (bamboo
            poles) and traditional ceremonies.
          </li>
          <li>
            Jakarta Fair (Jakarta) <br />
            A large and popular event featuring cultural performances, food, trade
            exhibitions, and entertainment. It's typically held from late June to
            early July.
          </li>
          <li>
            Nyepi (Bali) <br />
            The Balinese New Year, also known as the "Day of Silence." It involves
            a day of silence, fasting, and meditation. A very unique experience,
            with the entire island coming to a still.
          </li>
          <li>
            Waisak <br />
            A Buddhist festival commemorating the birth, enlightenment, and death
            of Buddha. The main ceremony often takes place at Borobudur Temple.
          </li>
          <li>
            Bau Nyale Fishing Festival (Lombok) <br />
            This festival is unique to Lombok, and involves the catching of sea worms.
            It is tied to a local legend.
          </li>
          <li>
            Baliem Valley Festival (Papua) <br />
            This festival showcases the unique culture of the Papuan tribes. It includes
            mock battles and traditional dances.
          </li>
        </ol>
      </div>

      <h2 class="mt-4 text-2xl font-bold">Emergency Contact</h2>
      <h3 class="text-xl font-bold">On-Arrival Support</h3>
      <ol class="ml-4 list-disc">
        <li>
          Health Orientation:
          <ul class="ml-4">
            <li>
              - Provide a health orientation covering local health risks,
              recommended precautions, and available healthcare services.
            </li>
            <li>
              - Include information on common illnesses in Indonesia, such as
              dengue fever, malaria, and foodborne illnesses.
            </li>
          </ul>
        </li>
        <li>
          University Health Services: <ul class="ml-4">
            <li>
              - Introduce students to on-campus health clinics or medical
              centers.
            </li>
            <li>
              - Explain the services offered, appointment procedures, and
              emergency protocols.
            </li>
          </ul>
        </li>
        <li>
          Local Healthcare System: <ul class="ml-4">
            <li>
              - Provide information on nearby hospitals, clinics, and
              pharmacies.
            </li>
            <li>- Explain how to access emergency services (118 or 119).</li>
          </ul>
        </li>
        <li>
          Local SIM Card and Emergency Contacts: <ul class="ml-4">
            <li>
              - Assist students in obtaining a local SIM card so they can easily
              contact emergency services and university support.
            </li>
            <li>
              - Provide a list of emergency contact numbers, including
              university staff, embassy/consulate, and local hospitals.
            </li>
          </ul>
        </li>
      </ol>
      <h3 class="text-xl font-bold">Ongoing Health Support</h3>
      <ol class="ml-4 list-disc">
        <li>Health Awareness Campaigns</li>
        <li>
          Mental Health Support: <ul class="ml-4">
            <li>
              - Provide access to mental health counseling and support services.
            </li>
            <li>
              - Recognize that adjusting to a new culture can be stressful, and
              offer resources to help students cope.
            </li>
          </ul>
        </li>
        <li>
          Language Assistance: <ul class="ml-4">
            <li>
              - Provide language assistance or translation services to help
              students communicate with healthcare providers.
            </li>
          </ul>
        </li>
        <li>Cultural Sensitivity</li>
      </ol>
    </div>
  </div>
</Layout>
