---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Universities">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">
        Universities and Colleges
      </div>
    </div>
    <div class="container flex flex-col gap-4 py-4 text-justify md:text-lg">
      <h2 class="text-2xl font-bold">Higher Education Tiers</h2>
      <p>
        Indonesia higher education is following the Bologna convention. There 3
        tiers of degree in Indonesia:
        <li>D4 (Diploma 4) is for Applied Bachelor Degree/Bachelor of Art</li>
        <li>
          S1 (Strata Satu or Level 1) is for Bachelor Degree (Hons)/Bachelor of
          Science
        </li>
        <li>S2 (Strata Dua or Level 2) is for Master Degree and</li>
        <li>S3 (Strata Tiga) is for Doctoral Degree</li>
      </p>
      <h2 class="mt-4 text-2xl font-bold">Higher Education Types</h2>
      <p class="grid grid-cols-[auto_1fr] gap-x-2 gap-y-1">
        <span class="font-medium">Universities (Universitas)</span>
        <span>: Offer a broad range of academic disciplines.</span>
        <span class="font-medium">Institutes (Institut)</span>
        <span>: Focus on specific fields, like technology or arts.</span>
        <span class="font-medium">Polytechnics (Politeknik)</span>
        <span>: Provide vocational and applied education.</span>
        <span class="font-medium">Academies (Akademi)</span>
        <span>: Offer specialized training in specific areas.</span>
        <span class="font-medium">Tertiary Colleges (Sekolah Tinggi)</span>
        <span>
          : Similar to institutes, with a focus on specific disciplines.
        </span>
      </p>
      <p>
        Based on the subject approach, Indonesia's higher education institution
        is divided into 2: vocational and science. The main difference between
        vocational institutions is having a more practical orientation
        curriculum and science institutions having a more scientific curriculum.
      </p>
      <p>
        <span class="font-semibold">- Public and Privates</span><br />
        Most Indonesian universities are private. Indonesian public universities
        are competitive. Most public universities are using government funds and
        have limitations in accepting a number of students. Some public universities
        have international undergraduate programs that cost several times more than
        local undergraduate programs.
      </p>
      <p>
        Indonesian students can use their high school grades or take national
        and institutional tests to enter public universities. Each student can
        choose all majors as long as they pass the major requirements. What
        differentiates Indonesia from other countries is that Indonesian
        students are able to enter medical school and law school directly
        without necessity to enter prelaw or pre med.
      </p>
      <h2 class="mt-4 text-2xl font-bold">Education fields</h2>
      <p>
        Indonesian education fields are categorized as:
        <div class="grid grid-cols-[auto_1fr] gap-x-2 gap-y-1">
          <span class="font-medium">Other</span>
          <span>: Philosophy, Religion</span>
          <span class="font-medium">Social</span>
          <span>
            : Political Science, Sociology, Anthropology, Development Studies,
            Psychology
          </span>
          <span class="font-medium">Humanities</span>
          <span>
            : Literature (Indonesian, English, Mandarin, Japanese, Arab), Law,
            Art, Design
          </span>
          <span class="font-medium">Business</span>
          <span>
            : Accounting, Business Administration, Management, Business
            Information System, Computerized Accounting, Finance and Investment,
            Syariah Business, Economics, Economics Development, Actuarial,
            Marketing and Digital Business, Entrepreneurship.
          </span>
          <span class="font-medium">Health</span>
          <span>
            : Medical, Traditional Medicine, Nurse, Midwifes, Medical
            Technologies
          </span>
          <span class="font-medium">Engineering</span>
          <span>
            : Information Technology, Electrical, Civil, Industrial, Machine,
            Architecture, City Planning, Data Science
          </span>
          <span class="font-medium">Natural Science</span>
          <span>
            : Physics, Biology, Statistics, Maths, Geography, Agricultural,
            Agronomi, Ocean Study, Food Technology, Bio Technology
          </span>
        </div>
        In terms of quality, Indonesia education is accredited with Indonesia Accreditation
        Board and Local Independent Board of Quality Assurance. Indonesia higher
        education is regulated by the Ministry of Higher Education that is separate
        from the Ministry of Education for High, Middle and Elementary School.
      </p>
      <h2 class="mt-4 text-2xl font-bold">Study Period</h2>
      <p>
        In Indonesia undergraduate programs consist of 144 credits and could be
        finished from 4 to 7 years of study. There are government required
        credits and the rest is determined by university.
      </p>
      <h2 class="mt-4 text-2xl font-bold">Tuition Fees</h2>
      <p>
        <span class="font-semibold">- Public University </span><br />
        Big public universities already have programs for International Undergraduates.
        These programs usually cost between USD5.000 up to USD 7.500 annually. The
        international programs are differentiated
      </p>
      <p>
        <span class="font-semibold">- Private University</span><br />
        Private universities have different approaches for international students.
        They can have mixed classes with local or special classes. The cost is between
        USD 1.000 up to USD 2.500 annually. Make sure you do not choose irresponsible
        private universities.
      </p>
    </div>
  </div>
</Layout>
