---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="关于">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">
        为什么要去印度尼西亚留学
      </div>
    </div>
    <div class="container flex flex-col gap-4 py-4 text-justify md:text-lg">
      <h2 class="text-2xl font-bold">经验</h2>
      <div>
        <p>印度尼西亚并不是另一个热带国家。它有很多东西可以提供</p>
        <ol class="ml-4 list-decimal">
          <li>
            如果你喜欢美丽的自然风光 <br /> 大多数人都知道巴厘岛，当然你可以去巴厘岛的大学。然而，巴厘岛只是冰山一角。印度尼西亚有许多岛屿，拥有美丽的自然风光。事实上，与印度尼西亚的其他岛屿相比，巴厘岛属于小岛。
          </li>
          <li>
            如果你想拥有管理不同背景、不同人群的经验 <br /> 印度尼西亚由300多个民族组成。如果以同一民族来计算部落，其数量将更多
          </li>
          <li>
            如果你喜欢文化和艺术 <br /> 印度尼西亚有着丰富的文化和艺术底蕴。从传统艺术到现代艺术。从绘画到舞蹈。事实上，印度尼西亚最好的管弦乐厅在雅加达的克马腰兰
          </li>
        </ol>
      </div>
      <h2 class="mt-4 text-2xl font-bold">经济实惠</h2>
      <div>
        <p>
          教育中的一个重要考虑是，教育不仅要开阔视野，也应该是负担得起的。在印度尼西亚，你可以找到许多负担得起的大学和生活成本。
        </p>
        <ol class="ml-4 list-decimal">
          <li>
            非常实惠的高等教育 <br /> 与东盟许多国家相比，印度尼西亚的高等教育费用非常便宜。确实，印尼的一些机构学费昂贵，但这只是冰山一角。印度尼西亚的大部分高等教育费用都是可以承受的。
          </li>
          <li>
            生活成本非常低廉 <br /> 印度尼西亚的生活成本根据您所在的位置不同从每月
            100 美元到每月 300 美元不等。然而，印度尼西亚的大部分高等教育都位于大城市之外。
          </li>
        </ol>
      </div>
      <h2 class="mt-4 text-2xl font-bold">你的未来职业</h2>
      <div>
        <p>东盟和世界各地工作的职业生涯做好准备。</p>
        <ol class="ml-4 list-decimal">
          <li>
            东盟就业门户 <br /> 东盟国家的门户。所有加入东盟的国家将相互承认彼此的高等教育。因此，无论您想在印度尼西亚还是其他地方工作，您的机会都是开放的。
          </li>
          <li>
            际研究生入学通道 <br /> 印度尼西亚的毕业生可以考入许多世界知名大学。只需花费比在澳大利亚获得学士学位更少的钱，你就可以在印度尼西亚完成本科学习，在澳大利亚完成硕士学位。所以它绝对不仅物有所值，而且还为您打开了通向世界的大门。
          </li>
          <li>
            在印尼工作 <br /> 许多外国公司正在印度尼西亚开设办事处。如果您从印度尼西亚的大学毕业，您可以申请印度尼西亚的工作，并以外籍人士的身份在这些公司工作并获得外籍人士的工资。
          </li>
        </ol>
      </div>
    </div>
  </div>
</Layout>
