---
import Clock from "@/assets/Clock.astro";
import Envelope from "@/assets/Envelope.astro";
import MailBulkIcon from "@/assets/MailBulkIcon.astro";
import MapMarker from "@/assets/MapMarker.astro";
import Phone from "@/assets/Phone.astro";
import Input from "@/components/Input.astro";
import Textarea from "@/components/Textarea.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="联系方式">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">联系我们</div>
    </div>
    <p class="container py-4 text-justify md:text-lg">
      我们是一家专注于服务印度尼西亚外国学生的基金会。我们并不是一家只为学生提供到印度尼西亚留学的教育代理机构，我们还将陪伴学生直至他们毕业，甚至帮助他们在印度尼西亚或国外发展事业或继续接受教育。
    </p>
    <div
      class="container flex flex-col gap-4 py-4 md:flex-row md:py-12 md:text-lg"
    >
      <div class="flex flex-col gap-4">
        <div class="group flex gap-4">
          <div
            class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-green-500"
          >
            <div
              class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-green-500"
            >
            </div>
            <MailBulkIcon />
          </div>
          <div class="flex flex-col">
            <h1 class="mb-4 text-2xl font-bold text-red-500">地址</h1>
            <p>P.O Box 68563-00610, Nairobi</p>
          </div>
        </div>
        <div class="group flex gap-4">
          <div
            class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-green-500"
          >
            <div
              class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-green-500"
            >
            </div>
            <MapMarker />
          </div>
          <div class="flex flex-col">
            <h1 class="mb-4 text-2xl font-bold text-red-500">访问我们</h1>
            <p>
              Regal Plaza , 1st Floor, <br /> Next to Rubis Petrol <br /> Station
              Limuru Road, Nairobi-Kenya
            </p>
          </div>
        </div>
        <div class="group flex gap-4">
          <div
            class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-green-500"
          >
            <div
              class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-green-500"
            >
            </div>
            <Phone />
          </div>
          <div class="flex flex-col">
            <h1 class="mb-4 text-2xl font-bold text-red-500">致电我们</h1>
            <p>(+254) 722 235833 <br /> (+254) 721 219235</p>
          </div>
        </div>
        <div class="group flex gap-4">
          <div
            class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-green-500"
          >
            <div
              class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-green-500"
            >
            </div>
            <Envelope />
          </div>
          <div class="flex flex-col">
            <h1 class="mb-4 text-2xl font-bold text-red-500">电子邮件地址</h1>
            <p>contact@indonesiahe.com</p>
          </div>
        </div>
        <div class="group flex gap-4">
          <div
            class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-green-500"
          >
            <div
              class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-green-500"
            >
            </div>
            <Clock />
          </div>
          <div class="flex flex-col">
            <h1 class="mb-4 text-2xl font-bold text-red-500">工作时间</h1>
            <p>
              <b class="font-bold">Monday to Friday</b> &ndash; 8:30am to 4:30pm
              <br />
              <b class="font-bold">Sunday and public holidays</b> &ndash; Closed
            </p>
          </div>
        </div>
      </div>
      <div class="flex w-full max-w-[784px] flex-col gap-4 bg-red-100 p-4">
        <h1 class="text-2xl font-bold text-red-500">咨询与反馈</h1>
        <div class="grid gap-4 md:grid-cols-2">
          <Input title="姓名" />
          <Input title="电子邮件地址" />
        </div>
        <div class="grid gap-4 md:grid-cols-2">
          <Input title="电话号码" />
          <Input title="主题" />
        </div>
        <Textarea title="留言" row="5" />
        <button class="w-fit rounded-full bg-red-700 px-4 py-2 text-white">
          提交
        </button>
      </div>
    </div>
  </div>
</Layout>
