---
import Input from "@/components/Input.astro";
import Layout from "@/layouts/Layout.astro";
import Textarea from "@/components/Textarea.astro";
import Book from "@/assets/Book.astro";
---

<Layout title="Home">
  <div class="h-[440px] w-full bg-gray-400"></div>
  <div class="container my-12 flex flex-col gap-4 md:text-lg">
    <div>
      <h1 class="text-center text-3xl font-bold text-red-500">我们是谁</h1>
      <div class="mx-auto my-4 h-7 max-w-40"></div>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime incidunt
        cupiditate nam sint est delectus ut ducimus consequatur, labore itaque
        nesciunt id, quos ipsa explicabo unde! Quos quaerat eveniet placeat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
        voluptatem voluptates doloremque porro placeat unde consequatur saepe
        nemo ab commodi magni rerum illo harum et nulla sint dicta aperiam
        incidunt.
      </p>
    </div>
    <div>
      <h1 class="text-center text-3xl font-bold text-red-500">我们的业务</h1>
      <div class="mx-auto my-4 h-7 max-w-40"></div>
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="w-full max-w-[384px]">
          <div class="h-[289px] w-full bg-gray-300"></div>
        </div>
        <div class="px-12 py-4">
          <div class="grid gap-6 md:grid-cols-2">
            <div class="group flex items-center gap-4 text-2xl font-semibold">
              <div
                class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
              >
                <div
                  class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                >
                </div>
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="group flex items-center gap-4 text-2xl font-semibold">
              <div
                class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
              >
                <div
                  class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                >
                </div>
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="group flex items-center gap-4 text-2xl font-semibold">
              <div
                class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
              >
                <div
                  class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                >
                </div>
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="group flex items-center gap-4 text-2xl font-semibold">
              <div
                class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
              >
                <div
                  class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                >
                </div>
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="group flex items-center gap-4 text-2xl font-semibold">
              <div
                class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
              >
                <div
                  class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                >
                </div>
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
            <div class="group flex items-center gap-4 text-2xl font-semibold">
              <div
                class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
              >
                <div
                  class="absolute -z-10 h-10 w-10 rounded-full bg-blue-900 group-hover:animate-ping group-hover:bg-black"
                >
                </div>
                <Book />
              </div>
              Sed ullamcorper lacus enim
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative w-full bg-[url('/city-pic.webp')] bg-cover bg-center px-4 py-12"
  >
    <div class="absolute inset-0 bg-black/50" aria-disabled="true"></div>
    <div
      class="relative z-10 container flex max-w-[736px] flex-col gap-4 md:text-lg"
    >
      <h1 class="text-center text-3xl font-bold text-red-500">旅程的开始</h1>
      <div class="grid gap-4 md:grid-cols-2">
        <Input title="全名" white />
        <Input title="电子邮件地址" white />
      </div>
      <div class="grid gap-4 md:grid-cols-2">
        <Input title="电话号码" white />
        <Input title="感兴趣的课程" white />
      </div>
      <Input title="感兴趣的城市" white />
      <Textarea title="留言" row="5" white />
      <button class="w-fit rounded-full bg-red-500 px-4 py-2 text-white">
        Submit
      </button>
    </div>
  </div>
</Layout>
