---
import Book from "@/assets/Book.astro";
import HomeForm from "@/components/HomeForm.vue";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <div class="h-[500px] w-full bg-[url('/student.webp')] bg-cover bg-center">
  </div>
  <div class="container my-12 flex flex-col gap-4 md:text-lg">
    <div>
      <h1 class="text-center text-3xl font-bold text-red-500">我们是谁</h1>
      <div class="mx-auto my-4 h-7 max-w-40"></div>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime incidunt
        cupiditate nam sint est delectus ut ducimus consequatur, labore itaque
        nesciunt id, quos ipsa explicabo unde! Quos quaerat eveniet placeat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
        voluptatem voluptates doloremque porro placeat unde consequatur saepe
        nemo ab commodi magni rerum illo harum et nulla sint dicta aperiam
        incidunt.
      </p>
    </div>
    <div class="mt-12">
      <h1 class="text-center text-3xl font-bold text-red-500">我们的业务</h1>
      <div class="flex flex-col gap-4 md:flex-row">
        <img src="/logoSquare.webp" alt="logoSquare" class="max-w-96" />
        <div class="flex items-center px-12 py-4">
          <div class="grid gap-6 md:grid-cols-2">
            <a href="/cn/services/#service1">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 items-center justify-center rounded-full bg-red-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-red-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                帮助学生选择未来的教育
              </div>
            </a>
            <a href="/cn/services/#service2">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 items-center justify-center rounded-full bg-red-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-red-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                签证流程协助
              </div>
            </a>
            <a href="/cn/services/#service3">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 items-center justify-center rounded-full bg-red-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-red-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                帮助申请大学
              </div>
            </a>
            <a href="/cn/services/#service4">
              <div class="group itms-center flex gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 items-center justify-center rounded-full bg-red-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-red-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                帮助寻找住宿
              </div>
            </a>
            <a href="/cn/services/#service5">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 items-center justify-center rounded-full bg-red-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-red-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                出发前简报
              </div>
            </a>
            <a href="/cn/services/#service6">
              <div class="group flex items-center gap-4 text-2xl font-semibold">
                <div
                  class="relative flex h-12 w-12 items-center justify-center rounded-full bg-red-900 text-white transition-all duration-200 group-hover:scale-90 group-hover:bg-black"
                >
                  <div
                    class="absolute -z-10 h-10 w-10 rounded-full bg-red-900 group-hover:animate-ping group-hover:bg-black"
                  >
                  </div>
                  <Book />
                </div>
                从机场到住宿的帮助
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative w-full bg-[url('/city-pic.webp')] bg-cover bg-center px-4 py-12"
  >
    <div class="absolute inset-0 bg-black/50" aria-disabled="true"></div>
    <div
      class="relative z-10 container flex max-w-[736px] flex-col gap-4 md:text-lg"
    >
      <h1 class="text-center text-3xl font-bold text-red-500">旅程的开始</h1>
      <HomeForm url={Astro.url} client:load />
    </div>
  </div>
</Layout>
