---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Services">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">Services</div>
    </div>
    <div class="container flex flex-col gap-4 py-4 md:text-lg">
      <p>
        <b class="font-bold"> Lorem ipsum dolor sit amet consectetur</b> adipisicing
        elit. Neque ipsum minus adipisci aperiam nobis laudantium tempore tenetur
        odit, id sequi amet, architecto itaque exercitationem est dolore rem possimus
        voluptatem excepturi?
      </p>
      <div class="my-4 grid gap-4 md:grid-cols-2 md:gap-16">
        <div>
          <h1 class="mb-2 font-semibold text-blue-900">
            Sed ullamcorper lacus enim
          </h1>
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            repellendus nihil incidunt, quidem similique rem ea nobis eveniet
            unde accusamus dolores explicabo quis minima quaerat officia
            consequatur nostrum fugiat odio! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Optio impedit cupiditate nisi soluta
            animi voluptates delectus veniam? Libero molestias in eaque ab
            similique sint tempore iure perspiciatis voluptatibus, fugit ea.
          </p>
        </div>
        <div class="h-[275px] w-full bg-gray-300 shadow-lg"></div>
      </div>
      <hr class="mx-auto w-full max-w-96" />
      <div class="my-4 grid gap-4 md:grid-cols-2 md:gap-16">
        <div>
          <h1 class="mb-2 font-semibold text-blue-900">
            Sed ullamcorper lacus enim
          </h1>
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            repellendus nihil incidunt, quidem similique rem ea nobis eveniet
            unde accusamus dolores explicabo quis minima quaerat officia
            consequatur nostrum fugiat odio! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Optio impedit cupiditate nisi soluta
            animi voluptates delectus veniam? Libero molestias in eaque ab
            similique sint tempore iure perspiciatis voluptatibus, fugit ea.
          </p>
        </div>
        <div class="h-[275px] w-full bg-gray-300 shadow-lg"></div>
      </div>
      <hr class="mx-auto w-full max-w-96" />
      <div class="my-4 grid gap-4 md:grid-cols-2 md:gap-16">
        <div>
          <h1 class="mb-2 font-semibold text-blue-900">
            Sed ullamcorper lacus enim
          </h1>
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            repellendus nihil incidunt, quidem similique rem ea nobis eveniet
            unde accusamus dolores explicabo quis minima quaerat officia
            consequatur nostrum fugiat odio! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Optio impedit cupiditate nisi soluta
            animi voluptates delectus veniam? Libero molestias in eaque ab
            similique sint tempore iure perspiciatis voluptatibus, fugit ea.
          </p>
        </div>
        <div class="h-[275px] w-full bg-gray-300 shadow-lg"></div>
      </div>
      <hr class="mx-auto w-full max-w-96" />
      <div class="my-4 grid gap-4 md:grid-cols-2 md:gap-16">
        <div>
          <h1 class="mb-2 font-semibold text-blue-900">
            Sed ullamcorper lacus enim
          </h1>
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            repellendus nihil incidunt, quidem similique rem ea nobis eveniet
            unde accusamus dolores explicabo quis minima quaerat officia
            consequatur nostrum fugiat odio! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Optio impedit cupiditate nisi soluta
            animi voluptates delectus veniam? Libero molestias in eaque ab
            similique sint tempore iure perspiciatis voluptatibus, fugit ea.
          </p>
        </div>
        <div class="h-[275px] w-full bg-gray-300 shadow-lg"></div>
      </div>
      <hr class="mx-auto w-full max-w-96" />
      <div class="my-4 grid gap-4 md:grid-cols-2 md:gap-16">
        <div>
          <h1 class="mb-2 font-semibold text-blue-900">
            Sed ullamcorper lacus enim
          </h1>
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            repellendus nihil incidunt, quidem similique rem ea nobis eveniet
            unde accusamus dolores explicabo quis minima quaerat officia
            consequatur nostrum fugiat odio! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Optio impedit cupiditate nisi soluta
            animi voluptates delectus veniam? Libero molestias in eaque ab
            similique sint tempore iure perspiciatis voluptatibus, fugit ea.
          </p>
        </div>
        <div class="h-[275px] w-full bg-gray-300 shadow-lg"></div>
      </div>
      <hr class="mx-auto w-full max-w-96" />
      <div class="my-4 grid gap-4 md:grid-cols-2 md:gap-16">
        <div>
          <h1 class="mb-2 font-semibold text-blue-900">
            Sed ullamcorper lacus enim
          </h1>
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            repellendus nihil incidunt, quidem similique rem ea nobis eveniet
            unde accusamus dolores explicabo quis minima quaerat officia
            consequatur nostrum fugiat odio! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Optio impedit cupiditate nisi soluta
            animi voluptates delectus veniam? Libero molestias in eaque ab
            similique sint tempore iure perspiciatis voluptatibus, fugit ea.
          </p>
        </div>
        <div class="h-[275px] w-full bg-gray-300 shadow-lg"></div>
      </div>
    </div>
  </div>
</Layout>
