---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="支持">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">
        印度尼西亚支持
      </div>
    </div>
    <div class="container flex flex-col gap-4 py-4 text-justify md:text-lg">
      <h2 class="text-2xl font-bold">印尼学生生活</h2>
      <h3 class="text-xl font-bold">烹饪</h3>
      <p>
        印度尼西亚是一个充满对比的国家。您可以参观最现代化的购物中心，同时享受文化遗产。您可以享受高档餐厅的乐趣，也可以在传统厨房餐厅用餐，在那里您可以真正地在厨房里用餐。印度尼西亚以苏门答腊豆、爪哇豆、巴厘豆、弗洛雷斯豆、托拉贾豆和巴布亚豆而闻名。如果您是一位茶爱好者，这里有很多当地茶可供您搭配蛋糕或牛奶享用
      </p>
      <img src="/food2.webp" alt="food" class="max-h-[500px] object-cover" />
      <div>
        <p>吃</p>
        <ol class="ml-4 list-decimal">
          <li>在高档餐厅吃饭</li>
          <li>在传统餐厅用餐</li>
          <li>在隐秘的餐厅吃饭</li>
          <li>在厨房餐厅吃饭</li>
        </ol>
      </div>
      <div>
        <p>饮料</p>
        <ol class="ml-4 list-decimal">
          <li>珍珠奶茶</li>
          <li>下午茶</li>
          <li>传统的</li>
          <li>茶滴</li>
          <li>咖啡馆</li>
          <li>椰子</li>
          <li>汁</li>
        </ol>
      </div>
      <h3 class="text-xl font-bold">旅行</h3>
      <p>印度尼西亚有数百个主要目的地。</p>
      <img src="/beach2.webp" alt="beach" class="max-h-[500px] object-cover" />
      <div>
        <p>海滩</p>
        <ol class="ml-4 list-decimal">
          <li>库塔海滩</li>
          <li>库塔海滩</li>
          <li>龙目岛</li>
          <li>拉贾安帕特</li>
          <li>布纳肯</li>
        </ol>
      </div>
      <div>
        <p>山</p>
        <ol class="ml-4 list-decimal">
          <li>布罗莫</li>
          <li>默拉皮火山</li>
          <li>迪昂</li>
          <li>蛇果</li>
        </ol>
      </div>
      <h3 class="text-xl font-bold">闲暇</h3>
      <p>在印度尼西亚，有很多活动可以填补你的闲暇时间。</p>
      <img
        src="/festive.webp"
        alt="festive"
        class="max-h-[500px] object-cover"
      />
      <div>
        <p>音乐</p>
        <ol class="ml-4 list-decimal">
          <li>Java 爵士乐</li>
          <li>爵士音乐节</li>
          <li>布罗莫爵士乐</li>
          <li>爵士乐</li>
          <li>爵士音乐节</li>
          <li>爵士乐走进校园</li>
          <li>流行音乐会</li>
          <li>古典音乐会</li>
        </ol>
      </div>
      <div>
        <p>节日</p>
        <ol class="ml-4 list-decimal">
          <li>
            加隆岸和库宁岸（巴厘岛） <br />
            这是巴厘岛的主要印度教节日，庆祝善良战胜邪恶。加隆安节每 210 天举行一次，库宁安节标志着节日的结束。期待看到装饰精美的“
            penjor ”（竹竿）和传统仪式
          </li>
          <li>
            雅加达博览会（雅加达） <br />
            这是一项大型的热门活动，包括文化表演、美食、贸易展览和娱乐。它通常在六月下旬至七月上旬举行。
          </li>
          <li>
            安宁日（巴厘岛） <br />
            巴厘岛新年，又称“沉默日”。它包括一天的沉默、禁食和冥想。这是一次非常独特的体验，整个岛屿都静止了。
          </li>
          <li>
            卫塞节 <br />
            纪念佛陀诞生、成道、涅槃的佛教节日。主要仪式通常在婆罗浮屠寺举行。
          </li>
          <li>
            闻 尼亚勒钓鱼节（龙目岛） <br />
            这个节日是龙目岛独有的，内容包括捕捉海虫。这与当地的一个传说有关。
          </li>
          <li>
            巴列姆山谷节（巴布亚） <br />
            这个节日展示了巴布亚部落独特的文化。其中包括模拟战斗和传统舞蹈。
          </li>
        </ol>
      </div>

      <h2 class="mt-4 text-2xl font-bold">紧急联系方式</h2>
      <h3 class="text-xl font-bold">抵达后支持：</h3>
      <ol class="ml-4 list-disc">
        <li>
          健康导向：
          <ul class="ml-4">
            <li>
              -
              提供健康指导，涵盖当地的健康风险、建议的预防措施和可用的医疗保健服务。
            </li>
            <li>
              - 包括有关印度尼西亚常见疾病的信息，例如登革热、疟疾和食源性疾病。
            </li>
          </ul>
        </li>
        <li>
          大学健康服务： <ul class="ml-4">
            <li>- 向学生介绍校园内的健康诊所或医疗中心。</li>
            <li>- 解释所提供的服务、预约程序和紧急情况处理方案。</li>
          </ul>
        </li>
        <li>
          当地医疗保健系统： <ul class="ml-4">
            <li>- 提供附近医院、诊所和药房的信息。</li>
            <li>- 解释如何联系紧急服务（118 或 119）。</li>
          </ul>
        </li>
        <li>
          本地 SIM 卡和紧急联系人： <ul class="ml-4">
            <li>
              - 帮助学生获取当地的 SIM
              卡，以便他们可以轻松联系紧急服务和大学支持。
            </li>
            <li>
              -
              提供紧急联系电话列表，包括大学工作人员、大使馆/领事馆和当地医院。
            </li>
          </ul>
        </li>
      </ol>
      <h3 class="text-xl font-bold">持续的健康支持：</h3>
      <ol class="ml-4 list-disc">
        <li>健康意识运动</li>
        <li>
          心理健康支持： <ul class="ml-4">
            <li>- 提供心理健康咨询和支持服务。</li>
            <li>
              - 认识到适应新文化可能会带来压力，并提供资源来帮助学生应对。
            </li>
          </ul>
        </li>
        <li>
          语言协助： <ul class="ml-4">
            <li>- 提供语言协助或翻译服务，帮助学生与医疗保健提供者沟通。</li>
          </ul>
        </li>
        <li>文化敏感性</li>
      </ol>
    </div>
  </div>
</Layout>
