---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Universities">
  <div>
    <div class="w-full bg-black">
      <div class="container py-4 text-2xl text-white md:text-4xl">
        Universities
      </div>
    </div>
    <div class="container flex flex-col gap-4 py-4 md:text-lg">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint,
        cupiditate! In nisi eius facilis voluptatem. Illo expedita nostrum,
        labore est voluptas incidunt pariatur corporis sequi qui, debitis
        consequuntur repudiandae quia? Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Tempora amet impedit doloremque alias veniam aperiam
        aliquid provident, cupiditate iste enim odit nobis deleniti ea, fugiat
        sed aut, incidunt quidem deserunt!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint,
        cupiditate! In nisi eius facilis voluptatem. Illo expedita nostrum,
        labore est voluptas incidunt pariatur corporis sequi qui, debitis
        consequuntur repudiandae quia? Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Tempora amet impedit doloremque alias veniam aperiam
        aliquid provident, cupiditate iste enim odit nobis deleniti ea, fugiat
        sed aut, incidunt quidem deserunt!
      </p>
      <p class="font-semibold text-red-500">
        Note that we work with the following accredited education providers:
      </p>
      <ul class="ml-10 list-disc">
        <li>Acknowledge Education</li>
        <li>Australian Catholic University</li>
        <li>Curtin University</li>
        <li>Acknowledge Education</li>
        <li>Australian Catholic University</li>
        <li>Curtin University</li>
        <li>Acknowledge Education</li>
        <li>Australian Catholic University</li>
        <li>Curtin University</li>
        <li>Acknowledge Education</li>
        <li>Australian Catholic University</li>
        <li>Curtin University</li>
        <li>Acknowledge Education</li>
        <li>Australian Catholic University</li>
        <li>Curtin University</li>
        <li>Acknowledge Education</li>
        <li>Australian Catholic University</li>
        <li>Curtin University</li>
        <li>Acknowledge Education</li>
        <li>Australian Catholic University</li>
        <li>Curtin University</li>
        <li>Acknowledge Education</li>
        <li>Australian Catholic University</li>
        <li>Curtin University</li>
      </ul>
    </div>
  </div>
</Layout>
