---
import { getLangFromUrl, useTranslations } from "@/lib/i8n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="bg-red-900 p-4 text-center text-white">
  {t("foot.copy")}
</div>
