---
import LangMenu from "@/components/LangMenu.vue";
import MobileNav from "@/components/MobileNav.vue";
import { getLangFromUrl, useTranslations } from "@/lib/i8n.ts";
import "@fontsource/montserrat";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const localeUrls = {
  home: getRelativeLocaleUrl(lang, ""),
  about: getRelativeLocaleUrl(lang, "about"),
  services: getRelativeLocaleUrl(lang, "services"),
  university: getRelativeLocaleUrl(lang, "university"),
  contact: getRelativeLocaleUrl(lang, "contact"),
  supports: getRelativeLocaleUrl(lang, "supports"),
};
---

<div class="montserrat container flex items-center justify-between">
  <a href={localeUrls["home"]} class="w-[50%] md:w-fit" aria-label="Home">
    <img src="/logo.webp" alt="" />
  </a>
  <div class="flex gap-4">
    <nav class="hidden items-center gap-2 text-sm font-medium md:flex">
      <a
        href={localeUrls["home"]}
        class="rounded-md px-4 py-2 transition-all duration-300 hover:bg-red-900 hover:text-white"
        data-astro-prefetch="load"
      >
        {t("nav.home")}
      </a>
      <a
        href={localeUrls["about"]}
        class="rounded-md px-4 py-2 transition-all duration-300 hover:bg-red-900 hover:text-white"
        data-astro-prefetch="load"
      >
        {t("nav.about")}
      </a>
      <a
        href={localeUrls["services"]}
        class="rounded-md px-4 py-2 transition-all duration-300 hover:bg-red-900 hover:text-white"
        data-astro-prefetch="load"
      >
        {t("nav.services")}
      </a>
      <a
        href={localeUrls["university"]}
        class="rounded-md px-4 py-2 transition-all duration-300 hover:bg-red-900 hover:text-white"
        data-astro-prefetch="load"
      >
        {t("nav.universities")}
      </a>
      <a
        href={localeUrls["supports"]}
        class="rounded-md px-4 py-2 transition-all duration-300 hover:bg-red-900 hover:text-white"
        data-astro-prefetch="load"
      >
        {t("nav.support")}
      </a>
      <a
        href={localeUrls["contact"]}
        class="rounded-md px-4 py-2 transition-all duration-300 hover:bg-red-900 hover:text-white"
        data-astro-prefetch="load"
      >
        {t("nav.contacts")}
      </a>
    </nav>
    <LangMenu lang={lang} client:load />
    <div class="md:hidden">
      <MobileNav url={Astro.url} localeUrls={localeUrls} client:load />
    </div>
  </div>
</div>

<style>
  .montserrat {
    font-family: "Montserrat", sans-serif;
  }
</style>
