---
import MobileNav from "@/components/MobileNav.tsx";
import "@fontsource/montserrat";

import LangMenu from "@/components/LangMenu";
import { getLangFromUrl, useTranslations } from "@/lib/i8n.ts";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const localeUrls = {
  home: getRelativeLocaleUrl(lang, ""),
  about: getRelativeLocaleUrl(lang, "about"),
  services: getRelativeLocaleUrl(lang, "services"),
  university: getRelativeLocaleUrl(lang, "university"),
  contact: getRelativeLocaleUrl(lang, "contact"),
  supports: getRelativeLocaleUrl(lang, "supports"),
};
---

<div class="montserrat container flex items-center justify-between">
  <a href={localeUrls["home"]} class="w-[50%] md:w-fit" aria-label="Home">
    <img src="/logo.webp" alt="" />
  </a>
  <div class="flex gap-4">
    <nav class="hidden items-center gap-5 text-lg font-medium md:flex">
      <a href={localeUrls["home"]} class={`hover:text-blue-900 `}>
        {t("nav.home")}
      </a>
      <a href={localeUrls["about"]} class={`hover:text-blue-900 `}>
        {t("nav.about")}
      </a>
      <a href={localeUrls["services"]} class={`hover:text-blue-900 `}>
        {t("nav.services")}
      </a>
      <a href={localeUrls["university"]} class={`hover:text-blue-900 `}>
        {t("nav.universities")}
      </a>
      <a href={localeUrls["supports"]} class={`hover:text-blue-900 `}>
        {t("nav.support")}
      </a>
      <a href={localeUrls["contact"]} class={`hover:text-blue-900 `}>
        {t("nav.contacts")}
      </a>
    </nav>
    <LangMenu lang={lang} client:load />
    <div class="md:hidden">
      <MobileNav url={Astro.url} localeUrls={localeUrls} client:visible />
    </div>
  </div>
</div>

<style>
  .montserrat {
    font-family: "Montserrat", sans-serif;
  }
</style>
